body {
    font-family: 'Nunito';
    color: #fff;
    background-color: #2d3748;
}

.action-col {
    display: flex;
    justify-content: space-between;
}

#navbar .navbar-brand img {
    width: 50px;
}
